body {
  width: 100vw;
  margin: 0;
  overflow: hidden;
}

.parent {
  width: 100vw;
  height: 100vh;
}

.menuTop {
  z-index: 10;
  height: 11vh;
  border-bottom: 1px solid #09f;
  background-color: #000;
  display: flex;
  align-items: center;
}

.mainPage {
  height: 8vh;
  margin-left: 3vw;
  margin-right: 9vw;
  align-items: center;
}

.mainPage > img {
  height: 8vh;
  object-fit: contain;
}

@font-face {
  font-family: "GlichInside";
  src: url("./Fuentes/glitch_inside/Glitch\ inside.otf");
}

@keyframes changeColor {
  0% {
    color: #09f;
  }
  100% {
    color: #c0f;
  }
}

.breadcrumb {
  color: white;
  text-align: center;
  font-family: GlichInside;
  padding-right: 28vw;
  font-size: 2.5vh;
  display: flex;
  justify-content: center;
}

.breadcrumb a {
  color: white;
  text-decoration: none;
}

.breadcrumb a:hover {
  text-decoration: underline;
  animation: changeColor 5s infinite alternate;
}

.search-container {
  text-align: center;
  border-radius: 50px;
  background: #d9d9d9;
  display: flex;
  margin-right: 15vw;
}

.menuTop input[type="text"] {
  padding: 3%;
  width: 15vw;
  border-radius: 50px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  outline: none;
  background: #d9d9d9;
}

.menuTop input[type="text"]:hover,
.menuTop input[type="text"]:active {
  background: #f3f2f2;
}

.menuTop button {
  border-radius: 50px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  cursor: pointer;
  border-left: solid black 0.1em;
  background: #d9d9d9;
}
button > img {
  width: 22.207px;
  height: 25.379px;
}

button:hover {
  background: #f3f2f2;
}

.carrito {
  height: 6vh;
  margin-right: 5vw;
}

.carrito > img {
  height: 6vh;
  object-fit: contain;
}

.log_in {
  font-family: GlichInside;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.log_in img {
  height: 50px;
  width: 50px;
}

.desplegable {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 11vh;
  background-color: #000;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-bottom: 1px solid #09f;
  border-left: 1px solid #09f;
  border-right: 1px solid #09f;
}

.desplegable a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.log_in:hover .desplegable,
.desplegable:hover {
  display: flex;
}

.log_in a {
  color: white;
  text-decoration: none;
}

.log_in a:hover {
  text-decoration: underline;
  animation: changeColor 5s infinite alternate;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/assets/fondo.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  max-height: 89vh;
}

.modal {
  visibility: hidden;
  display: flex; /* Ocultar por defecto */
  position: fixed; /* Fijar posición en pantalla */
  z-index: 1; /* Colocar delante de otros elementos */
  left: 0;
  top: 0;
  width: 100%; /* Ancho completo */
  height: 100%; /* Alto completo */
  overflow: auto; /* Habilitar scroll si es necesario */
  display: flex; /* Usar flexbox para centrar */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}

/* Contenido del modal */
.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px; /* Ancho máximo */
  border-radius: 10px;
  position: relative;
}

/* Botón de cierre */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.productos {
  overflow-y: auto;
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.producto {
  margin-top: 70px;
  padding-bottom: 10px;
  width: 90vw;
  border-bottom: 5px solid;
  border-image: linear-gradient(
    to right,
    rgba(31, 0, 39, 0.1),
    #cc00fff9,
    #0099ff,
    rgba(0, 9, 15, 0.1)
  );
  border-image-slice: 1;
  background: rgba(217, 217, 217, 0);
  display: flex;
  align-items: center;
  gap: 15px;
  color: white;
  background-color: rgba(226, 51, 255, 0.5);
  border-radius: 10px;
}

.portada {
  margin-left: 100px;
  height: 30vh;
}

.informacion {
  display: flex;
  flex-direction: column;
  gap: 140px;
}

.precio {
  margin-left: 450px;
}

.total {
  position: fixed;
  bottom: 0px;
  z-index: 10;
  color: white;
  width: 100vw;
  display: flex;
  gap: 33.33vw;
  justify-content: center;
  align-items: center;
  border-top: 5px solid;
  border-image: linear-gradient(
    to right,
    rgba(31, 0, 39, 0.1),
    #cc00fff9,
    #0099ff,
    rgba(0, 9, 15, 0.1)
  );
  border-image-slice: 1;
  background-color: #000;
}
