body {
  width: 100vw;
  margin: 0;
  overflow: hidden;
}

.parent {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 9fr;
  grid-template-rows: 1fr 7fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.menuTop {
  z-index: 10;
  height: 11vh;
  grid-area: 1 / 1 / 2 / 3;
  border-bottom: 1px solid #09f;
  background-color: #000;
  display: flex;
  align-items: center;
}

.mainPage {
  height: 8vh;
  margin-left: 3vw;
  margin-right: 9vw;
  align-items: center;
}

.mainPage > img {
  height: 8vh;
  object-fit: contain;
}

@font-face {
  font-family: "GlichInside";
  src: url("./Fuentes/glitch_inside/Glitch\ inside.otf");
}

@keyframes changeColor {
  0% {
    color: #09f;
  }
  100% {
    color: #c0f;
  }
}

.breadcrumb {
  color: white;
  text-align: center;
  font-family: GlichInside;
  padding-right: 35vw;
}

.search-container {
  text-align: center;
  display: flex;
  margin-right: 10vw;
}

.menuTop input[type="text"] {
  padding: 3%;
  width: 15vw;
  border-radius: 50px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  outline: none;
  background: #d9d9d9;
}

.menuTop input[type="text"]:hover,
.menuTop input[type="text"]:active {
  background: #f3f2f2;
}

.menuTop button {
  border-radius: 50px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  cursor: pointer;
  border-left: solid black 0.1em;
  background: #d9d9d9;
}
button > img {
  width: 22.207px;
  height: 25.379px;
}

button:hover {
  background: #f3f2f2;
}

.carrito {
  height: 6vh;
  margin-right: 5vw;
}

.carrito > img {
  height: 6vh;
  object-fit: contain;
}

.body {
  display: flex;
  justify-content: center;
  background-image: url("../img/assets/fondo.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  margin-top: 0;
}

.usuario {
  margin-top: 3vh;
  padding-top: 3vh;
  background-color: rgba(226, 51, 255, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.usuario > img {
  width: 7.5vw;
}

.datos {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.datos input {
  background: rgba(226, 51, 255, 0);
  border: none;
  border-bottom: 1px solid #09f;
  text-align: center;
}

.logout {
  margin-top: 5px;
  padding: 5px;
  border-radius: 20px;
}
